<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link href="/css/home.css" rel="stylesheet" />
    <link
      href="https://unpkg.com/flowbite@1.5.0/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <script defer src="/js/index.js" type="module"></script>
  </head>
  <body class="relative min-h-screen bg-[#f9fafb]">
    <%- include('components/_header')%>
    <!-- stepper -->
    <section class="container mx-auto pl-6 md:pl-0 mt-6">
      <nav class="flex" aria-label="Breadcrumb">
        <ol
          class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
        >
          <li class="inline-flex items-center">
            <a
              href="#"
              class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600"
            >
              <svg
                class="w-3 h-3 me-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
                />
              </svg>
              Home
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg
                class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 9 4-4-4-4"
                />
              </svg>
              <a
                href="#"
                class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2"
                ><%= product.category.name %></a
              >
            </div>
          </li>
          <li aria-current="page">
            <div class="flex items-center">
              <svg
                class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 9 4-4-4-4"
                />
              </svg>
              <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2"
                ><%= product.name %></span
              >
            </div>
          </li>
        </ol>
      </nav>
    </section>

    <!-- Product Details -->
    <section class="bg-white container mx-auto mt-6 rounded-xl">
      <div class="container px-4 py-4 rounded-xl">
        <div class="lg:-mx-6 lg:flex lg:items-stretch">
          <img
            class="object-cover lg:mx-6 lg:w-1/2 rounded-xl product-img"
            src="/img/<%=product.image%>"
            alt="<%=product.name%>"
          />
    
          <div class="mt-6 lg:w-1/2 lg:mt-0 lg:mx-6 flex flex-col">
            <!-- Product Name -->
            <h1
              class="text-3xl font-bold text-gray-800 product-name mb-4"
              id="product-name"
              data-product-id="<%=product.id%>"
            >
              <%=product.name%>
            </h1>
    
            <!-- Product Description -->
            <div class="mb-4">
              <span class="block text-sm font-medium text-gray-700">
                Description:
              </span>
              <p
                class="text-gray-500 product-description mt-1"
                id="product-description"
              >
                <%=product.description%>
              </p>
            </div>
    
            <!-- Product Price and Discount -->
            <div class="flex flex-col items-start mb-4">
              <% if (product.discount > 0) { %>
                <div class="text-red-500 text-lg font-semibold mb-1">
                  <span class="line-through text-gray-500 text-base product-price"
                  data-discount="<%=product.discount%>"><%=product.price%> SAR</span>
                  <span class="ml-2 text-2xl font-bold"><%= (product.price - product.price * (product.discount)).toFixed(2) %> SAR</span>
                </div>
                <p class="text-red-500 text-sm">
                  Discount: <%= (product.discount * 100).toFixed(0) %>%
                </p>
                
              <% } else { %>
                <span
                  class="text-2xl font-bold text-gray-900 product-price"
                  data-discount="<%=product.discount%>"
                  >
                  <%=product.price%> SAR
                </span>
              <% } %>
            </div>
    
            <!-- Quantity Selector -->
            <form class="max-w-xs mb-6">
              <label
                for="quantity-input"
                class="block mb-2 text-sm font-medium text-gray-900"
              >
                Choose quantity:
              </label>
              <div class="relative flex items-center max-w-[11rem]">
                <button
                  type="button"
                  id="decrement-button"
                  data-input-counter-decrement="quantity-input"
                  class="bg-gray-100 hover:bg-gray-200 border border-gray-300 rounded-l-lg p-3 h-11"
                >
                  <svg
                    class="w-3 h-3 text-gray-900"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 18 2"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M1 1h16"
                    />
                  </svg>
                </button>
                <input
                  type="text"
                  id="quantity-input"
                  data-input-counter
                  data-input-counter-min="1"
                  data-input-counter-max="10"
                  aria-describedby="helper-text-explanation"
                  class="bg-gray-50 border-x-0 border-gray-300 h-11 font-medium text-center text-gray-900 text-md block w-full"
                  placeholder=""
                  value="1"
                  required
                />
                <button
                  type="button"
                  id="increment-button"
                  data-input-counter-increment="quantity-input"
                  class="bg-gray-100 hover:bg-gray-200 border border-gray-300 rounded-r-lg p-3 h-11"
                >
                  <svg
                    class="w-3 h-3 text-gray-900"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 18 18"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9 1v16M1 9h16"
                    />
                  </svg>
                </button>
              </div>
              <p
                id="helper-text-explanation"
                class="mt-2 text-sm text-gray-500"
              >
                Please select the number of products.
              </p>
            </form>
    
            <!-- Add to Cart Button -->
            <button
              type="button"
              class="border border-mulledWine font-medium rounded-2xl text-sm px-5 py-2.5 text-center w-full flex items-center justify-center space-x-2 primary-btn btn-animated add-to-cart"
            >
              <ion-icon
                name="cart-outline"
                class="h-6 w-6 md hydrated"
                role="img"
              ></ion-icon>
              <span>Add to cart</span>
            </button>
          </div>
        </div>
      </div>
    </section>
    

    <%- include('components/_footer')%>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <!-- Include Flowbite JS -->
    <script src="https://unpkg.com/flowbite@latest/dist/flowbite.min.js"></script>
  </body>
</html>
